@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

html,
body {
  width: 100%;
  margin-top: 70px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: start;
  background-color: #f6f8fa;
  font-family: 'Roboto', sans-serif;
}

#employee {
  width: 60%;
  height: 100%;
  min-width: 400px;
}

h1 {
  font-size: 40px;
  color: #1e7ab9;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
  color: #2aabe1;
  font-weight: 300;
  text-align: left;
  margin: 30px 0;
}

.container{
  width: 80%;
}

.labels{
  width: 22%;
  text-align: right;
  font: 300 20px 'Roboto', sans-serif;
  margin: 15px 15px 15px 0;
  color: #333;
}

input,
button {
  font: 300 18px 'Roboto', sans-serif;
}

input {
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  color: #6a737d;
  padding: 0 24px;
  margin-right: 10px;

}

.btn {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background-color: #94d400;
  color: #f1f1f1;
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
}

.btn:hover {
  opacity: 0.8;
  color: #f1f1f1;

}

#overlay{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.employee_list{
  margin-top:40px;
}

.employee_list ul {
  font-family: "Roboto", monospace;
  list-style: none;
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.employee_list ul li {
  margin: 10px 0;
}

.employee_card{
  border-radius: 20px;
  border: 1px solid #e1e4e8;
  background-color: #fff;
  padding: 0 40px;
  width: 400px;
}

.employee_card p{
  font-size: 40px;
  margin-top: 10px;
  color: #94d400;
}

.employee_card h4{
  font-weight: 600;
  color: #666;
}

.employee_card h5{
  margin-top: 20px;
  font-weight: 200;
  color: #666;
}

/* ======= navbar =======  */

#menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  min-width: 400px;
  background-color: #343a40;
  font-family: "Roboto", monospace;
  font-weight: 300;
  font-size: 20px;

}

.bigbrand {
  font-size: 25px;
}

.flags {
  margin-left: 10px;
}

#wait {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../img/pulse.svg");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
  display: none;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
  #wait {
    background-image: url("../img/spin.svg");
  }
}